body {
    background-color: #70CF51;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
    margin:0px; padding:0px;
    font-size: 2em;
    color: #FFF;
    font-size: 1.2em;
}

background, pirate, bomb, player, pirateship, info, gamescreen, startscreen, endscreen{
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

player {
    background-image: url(../images/player2.png);
    width:65px; height: 75px;
}

pirate{
    background-image: url(../images/pirate.png);
    width:65px; height: 75px;
}

pirateship{
    background-image: url(../images/pirateship2.png);
    width: 180px; height: 110px;
}

bomb{
    background-image: url(../images/bomb.png);
    width:60px; height: 55px;
}

background {
	background-image: url(../images/achtergrond.png);
    width:100%; height: 100%;
    background-size: cover;
}

info {
    width: 100vw;
    padding:60px;
    margin-left: -40px;
    font-size: 2em;
    filter: drop-shadow(5px 5px 0px #000000);
}

startscreen div, endscreen div {
    font-size: 3em;
    padding-top: 26vh;
    width: 100vw;
    text-align: center;
    /* position: absolute; */
}

startscreen button, endscreen button {
    /* position: absolute; */
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    margin-top: 10px;
    margin-left: calc(50vw - 100px);
    background-color: lightcoral;
    color: white;
    padding: 12px;
    cursor: pointer;
}

background {
    background-image: url('../images/achtergrond.png');
    background-position: top center;
    background-repeat: repeat-x;
    background-color: #B1BF5C;
    width: 100vw;
    height: 100vh;
}

ui {
    position:absolute;
    transform: translate(20px, 20px);
    font-size: 2em;
    filter: drop-shadow(5px 5px 0px #000000);

}